<launch>
  <arg
    name="model" />
  <param name="robot_description" command="$(find xacro)/xacro $(find rm_75_description)/urdf/rm_75.urdf.xacro" />
  
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find rm_75_description)/config/rm_75_urdf.rviz" />
</launch>
